@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

body {
    background-color: #303030;
    color: #ddd;
    font-family: 'Varela Round';
    font-size: 16px;
}
h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}
p {
    line-height: 1.5em;
    margin: 10px 0;
    padding: 0 5px;
}
em {
    font-weight: normal;
    color: #4BA9A9;
}
small {
  font-size:15px;
}
/*disable on mobile*/
@media screen and (max-width: 600px) {
    .hide-on-mobile { display: none; }
}
/*sticky note*/
.note {
  min-width: 10em;
  min-height: 8em;
  background: #f8de59;
  transform: translateX(-50%);
  float:right;
  padding:5px;
  margin-top:20px;
}
.note:before {
  content: "";
  position: absolute;
  right: 2em;
  bottom: -2em;
  left: 0;
  border: 1em solid #f8de59;
  z-index: -1;
}
.note:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2em;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: #d69722 transparent;
  filter: (-4px 5px 9px rgba(0, 0, 0, 0.5));
}

.sticky-note {
  font-size: .8em;
  font-family:Gloria Hallelujah;
  background: transparent;
  width: 8.4em;
  height: 5.8em;
  margin: 20% 0.8em 0 0.8em;
  padding: 5px;
  border: 0;
  overflow: hidden;
  letter-spacing: -1px;
  outline-style: none;
  resize: none;
  color:black;
}


/* Scrollbar Styling */

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
#container {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #212121;
    border-radius: 15px;
}
#other {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
}
#readable {
    width: 575px;
    height: 300px;
    padding: 10px;
    border-radius: 3px;
    font-family: 'Varela Round', monospace;
    font-size: 17px;
    background: #111;
    color: #ddd;
    line-height: 1.5em;
    resize: vertical;
}


#reading-screen {
    display: none;
    width: 600px;
    height: 322px;
    position: relative;
}
#word {
    width: 100%;
    color: #fff;
    height: 300px;
    text-align: center;
    font-size: 72px;
    word-break: break-all;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 30%;
}
#options {
    margin: 10px 0;
}
.row {
    height: 30px;
}
#wpm {
    float: left;
}
#reading-speed {
    width: 70px;
    font-family:'Varela Round';
    height: 10px;
    padding: 7px;
    margin: 0;
    margin-left: 10px;
    margin-top:-3px;
    background-color: #303030;
    color: #fff;
    border:none;
    border-radius:10px;
}
#text-info {
    float: right;
    padding-right:5px;
}
#progress {
    width: 100%;
    position: absolute;
    bottom: 0;
}
#new {
    display: none;
}
#restart{
  display:none;
}
.btn {
  margin: 10px;
   font-size: 20px;
   font-weight:bold;
   padding: 15px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: #FFF;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   width: 100px;
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   cursor: pointer;
   display: inline-block;
   border-radius: 25px;
}
.btn:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 8px 10px 12px;
}
.btn:active {
    background: -webkit-linear-gradient(#4BA9A9, #5EB8B8);
    background: -moz-linear-gradient(#4BA9A9, #5EB8B8);
    background: -o-linear-gradient(#4BA9A9, #5EB8B8);
    background: linear-gradient(#4BA9A9, #5EB8B8);
}
.btn-1 {background-image: linear-gradient(to right, #3527cc 0%, #9797f7 51%, #6d5edd 100%)}
.btn-1:hover { background-position: right center; }

.btn-2 {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)}
.btn-2:hover { background-position: right center; }

.btn-3 {background-image: linear-gradient(to right, #f28080 0%, #ffb3b3 51%, #a12020 100%)}
.btn-3:hover { background-position: right center; }


li {
    margin-left: 30px;
    list-style-type: circle;
    line-height: 1.5em;
}


/* Responsive styles */

@media (max-width: 650px) {
    #container {
        width: auto;
        margin-top: 0;
        border-radius: 0;
    }
    #readable, #reading-screen {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
    }
    #other {
        width: auto;
        margin: 0;
    }
    #word {
        font-size: 50px;
    }
}
